{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container" style="height:200px; width:100%;" ></div>
<h2 class="text-center">Order Details</h2>

<div class="container  mt-5 p-3 bg-warning container-fluid">
  {% for i in orders %}
<div class="card mb-3 mx-auto" style="max-width: 800px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{i.prod.image.url}}" class="img-fluid rounded-start p-4" alt="..." style="height:200px;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Product name:{{i.prod.name}}</h5>
        <p class="card-text">Order ID:{{i.order_id}}</p>
        <p class="card-text">Price:{{i.prod.price}}</p>
        <p class="card-text">Quantity:{{i.no_of_items}}</p>
        <p class="card-text">Ordered on:{{i.ordered_date}}</p>
        <p class="card-text text-danger">Delivery Status:{{i.delivery_status}}</p>

      </div>
    </div>
  </div>
</div>
    {% endfor %}
  </div>

{% endblock %}




